<main>
 <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Клиника Дефенталя</h1>
        <div class="row center">
          <h5 class="header col s12 light">Вы можете на нас положиться</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax allwidth"><img src="http://n1s2.hsmedia.ru/cc/19/39/cc193979ae19303c106b2e1f801f9216/1200x628_21_4230ed1c3a3233f896d8a33df2f37f27@1200x630_0xc0a839a2_15804693911466158247.jpeg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Забота</h5>

            <p class="light">Наши врачи достаточно отдыхают и поэтому очень добрые, общительные и отзывчивые люди. Знайте, вы будете окружены вниманием и заботой наших врачей.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">alarm</i></h2>
            <h5 class="center">Скорость</h5>

            <p class="light">Оперативность приезда бригады и немедленная реакция врачей.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">account_balance_wallet</i></h2>
            <h5 class="center">Недорого</h5>

            <p class="light">Ценовая политика клиники не покусает семейный бюджет.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  
</main>
  <!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
  
 
